In [1]:
import pandas as pd

In [2]:
crime = pd.read_csv("../data/raw/Crime_Incidents_in_2024.csv")
crime.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,399930.5100,143088.2900,24005436,2024/01/11 20:19:48+00,EVENING,OTHERS,THEFT/OTHER,5500 - 5529 BLOCK OF SOUTH DAKOTA AVENUE NE,399930.510000,143088.29000,...,009507 1,9507.0,Precinct 65,38.955698,-77.000802,NaN,2024/01/11 16:20:00+00,2024/01/11 19:54:00+00,832333228,NaN
1,404451.5671,136157.4821,24069189,2024/05/08 23:39:51+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,3800 - 3999 BLOCK OF DIX STREET NE,404451.567074,136157.48214,...,009603 2,9603.0,Precinct 102,38.893252,-76.948686,NaN,2024/05/08 20:47:00+00,2024/05/08 22:23:00+00,832333229,NaN
2,399581.5100,129706.9200,5094764,2024/09/30 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,100 - 146 BLOCK OF WAYNE PLACE SE,399581.510000,129706.92000,...,009803 3,9803.0,Precinct 124,38.835154,-77.004820,NaN,2005/07/18 08:40:00+00,2024/09/30 13:30:00+00,832348653,NaN
3,397576.9900,143086.8500,20160181,2024/05/22 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,5401 - 5499 BLOCK OF GEORGIA AVENUE NW,397576.990000,143086.85000,...,002101 5,2101.0,Precinct 56,38.955682,-77.027955,NaN,2020/11/09 02:03:53+00,2020/11/09 02:20:49+00,832362057,NaN
4,400891.3397,131932.5347,22065374,2024/05/22 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2400 - 2699 BLOCK OF POMEROY ROAD SE,400891.339743,131932.53468,...,007406 2,7406.0,Precinct 118,38.855203,-76.989731,NaN,2022/05/10 13:30:00+00,2022/05/10 14:15:00+00,832365345,NaN

In [3]:
violent_offenses = [
    "HOMICIDE",
    "ASSAULT W/DANGEROUS WEAPON",
    "ROBBERY",
    "SEX ABUSE"
]
violent = crime[crime["OFFENSE"].isin(violent_offenses)].copy()
violent["year"] = pd.to_datetime(violent["REPORT_DAT"]).dt.year
violent.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,year
2,399581.5100,129706.9200,5094764,2024/09/30 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,100 - 146 BLOCK OF WAYNE PLACE SE,399581.510000,129706.92000,...,9803.0,Precinct 124,38.835154,-77.004820,NaN,2005/07/18 08:40:00+00,2024/09/30 13:30:00+00,832348653,NaN,2024
3,397576.9900,143086.8500,20160181,2024/05/22 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,5401 - 5499 BLOCK OF GEORGIA AVENUE NW,397576.990000,143086.85000,...,2101.0,Precinct 56,38.955682,-77.027955,NaN,2020/11/09 02:03:53+00,2020/11/09 02:20:49+00,832362057,NaN,2024
4,400891.3397,131932.5347,22065374,2024/05/22 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2400 - 2699 BLOCK OF POMEROY ROAD SE,400891.339743,131932.53468,...,7406.0,Precinct 118,38.855203,-76.989731,NaN,2022/05/10 13:30:00+00,2022/05/10 14:15:00+00,832365345,NaN,2024
37,399874.4500,128589.6200,24119154,2024/08/04 04:25:04+00,MIDNIGHT,KNIFE,ASSAULT W/DANGEROUS WEAPON,4400 - 4599 BLOCK OF 3RD STREET SE,399874.450000,128589.62000,...,9811.0,Precinct 125,38.825089,-77.001446,NaN,2024/08/04 00:56:00+00,2024/08/05 02:30:00+00,832597592,NaN,2024
39,400638.1400,141337.7800,24120153,2024/08/06 00:12:46+00,EVENING,GUN,ROBBERY,4020 - 4113 BLOCK OF 10TH STREET NE,400638.140000,141337.78000,...,9504.0,Precinct 68,38.939929,-76.992639,NaN,2024/08/05 22:59:00+00,2024/08/06 01:00:00+00,832597594,NaN,2024

In [4]:
violent_counts = (
    violent.groupby(["CENSUS_TRACT", "year"])
    .size()
    .reset_index(name="violent_incidents")
)

violent_counts.head()

   CENSUS_TRACT  year  violent_incidents
0         102.0  2024                  8
1         201.0  2024                  1
2         202.0  2024                  9
3         300.0  2024                  6
4         501.0  2024                  8

In [6]:
arrests = pd.read_csv("../data/raw/Adult_Arrests.csv", low_memory=False)
arrests.head()

,TYPE,YEAR,DATE_,HOUR,CCN,ARREST_NUMBER,AGE,DEFENDANT_PSA,DEFENDANT_DISTRICT,RACE,...,OFFENSE_DISTRICT,ARREST_LATITUDE,ARREST_LONGITUDE,OFFENSE_LATITUDE,OFFENSE_LONGITUDE,GIS_ID,CREATED,EDITED,GLOBALID,OBJECTID
0,Adult Arrest,2013,2013/11/14 05:00:00+00,6,45bb932cb42f1bba872a8dfcfb2428a10d6fe0598a63f2...,1057043c3187ebc5c85920edbb441300e1446d3764e70f...,37,Out of State,Out of State,WHITE,...,NaN,NaN,NaN,NaN,NaN,ADULT_ARRESTS_1,NaN,2025/03/04 02:03:21+00,{80CA3650-32C9-42C6-8412-9250D0E433BF},1
1,Adult Arrest,2013,2013/11/20 05:00:00+00,15,d558ea651a7b32e88571a453ccdf39376b2ec9dfb11f3c...,ad3f22534b1e2c409d66328bb4ac3904e9bacc768c6091...,39,602,6D,BLACK,...,6D,NaN,NaN,NaN,NaN,ADULT_ARRESTS_2,NaN,2025/03/04 02:03:21+00,{F1B2E42E-38B5-49D6-8A60-BF8CF0690A12},2
2,Adult Arrest,2013,2013/12/03 05:00:00+00,0,85451f87475b042563ddebc20b89b7258f07bca9b55b77...,a723e9f1d0b44a6e0cef81994b8e7d3d3da55270e6f871...,40,Out of State,Out of State,BLACK,...,NaN,NaN,NaN,NaN,NaN,ADULT_ARRESTS_3,NaN,2025/03/04 02:03:21+00,{7F8BA37F-51F5-437F-A8F4-4B755385797B},3
3,Adult Arrest,2013,2013/12/05 05:00:00+00,21,3498c726acd19b8fc48c50a86c4e21e5823c41722cb779...,1a94d5a92f8538d3252aa65690ab70fac1a67646eb22ee...,65,502,5D,BLACK,...,NaN,NaN,NaN,NaN,NaN,ADULT_ARRESTS_4,NaN,2025/03/04 02:03:21+00,{70B94138-C9F4-4CFF-9A72-12B071F3A78C},4
4,Adult Arrest,2013,2013/12/09 05:00:00+00,23,88e342ab716f545b67c467914d6999d514ec6ea34d5c2e...,5a0e432aaa38e011a7b8aa29de617d4e635acab29b3db5...,31,702,7D,BLACK,...,NaN,NaN,NaN,NaN,NaN,ADULT_ARRESTS_5,NaN,2025/03/04 02:03:21+00,{2DCB5E7E-311F-48B8-A36B-BF1D6C2890F5},5

In [7]:
arrests["CATEGORY"].unique()[:50]

array(['Sex Abuse', 'Homicide', 'Prostitution', ' rcotics',
       'Traffic Violations', 'Driving/Boating While Intoxicated',
       'Assault on a Police Officer', 'Release Violations/Fugitive',
       'Simple Assault', 'Burglary', 'Assault with a Dangerous Weapon',
       'Liquor Law Violations', 'Theft', 'Aggravated Assault',
       'Sex Offenses', 'Other Crimes', 'Property Crimes',
       'Offenses Against Family & Children', 'Weapon Violations',
       'Disorderly Conduct', 'Damage to Property', 'Robbery',
       'Motor Vehicle Theft', 'Kid pping', 'Gambling',
       'Vending Violations', 'Theft from Auto',
       'Fraud and Fi ncial Crimes', 'Arson', 'Narcotics',
       'Fraud and Financial Crimes', 'Kidnapping', nan,
       'Release Violations/Fugitive (Warr)',
       'Release Violations/Fugitive (Fug)',
       'Fraud and Financial Crimes (Frau)',
       'Fraud and Financial Crimes (Forg)',
       'Fraud and Financial Crimes (Coun)', 'Release Violations'],
      dtype=object)

In [8]:
arrests["DESCRIPTION"].unique()[:50]

array(['Second Degree Sex Abuse- Incompetent', 'Murder I',
       'Solicting Prostitution', 'Ucsa Pwid Heroin', 'No Permit',
       'Dui - Refusing Test', 'Pandering A Minor', 'Apo (misd)',
       'Driving Under Influence-1st Off', 'Fugitive From Justice',
       'Ucsa Possession Marijua ', 'Reckless Driving', 'Simple Assault',
       'Failure To Appear (OAG)', 'Operating After Revocation',
       'Ucsa Poss Marijua ', 'Burglary Two',
       'Soliciting, Lewd & Immoral Purpose', 'Ucsa Pwid Other',
       'Assault W/i To Kill', 'Parole Violation',
       'Possession Of An Open Container Of Alcohol', 'Ucsa Pwid Marijua ',
       'Ucsa Pwid Cocaine/crack Cocaine',
       'Driving While Intoxicated - 1st Off',
       'Possession Of Drug Parapher lia (syringes)',
       'Threats To Do Bodily Harm - Misd', 'Operating After Suspension',
       'Adw Gun', 'Theft Second Degree',
       'Assault With Significant Bodily Injury',
       'Assault On A Police Officer [misd]',
       'Ucsa Possession Drug Paraper lia', 'Probation Violation',
       'Sexual Abuse Of A Child, 1st Degree (statutory)',
       'Unlawful Entry', 'Ucsa Poss Cocaine/crack Cocaine', 'Shoplifting',
       'Tampering W/evidence', 'Threats (felony)',
       'Trafficking Stolen Property', 'Distribution Of Child Pornography',
       'Cpo Violation (contempt Of Court)', 'Carrying A Pistol',
       'Theft II', 'Ucsa Poss Amphetamine',
       'Conspiracy To Distribute Cocaine', 'Blocking Passage',
       'Ucsa Poss Heroin', 'Affrays'], dtype=object)

In [11]:
arrests_recent = arrests[arrests["YEAR"].between(2019, 2024)].copy()
arrests_recent["CATEGORY"].unique()[:50]

array(['Simple Assault', 'Release Violations/Fugitive',
       'Driving/Boating While Intoxicated', 'Liquor Law Violations',
       'Weapon Violations', 'Robbery', 'Traffic Violations', 'Narcotics',
       'Other Crimes', 'Offenses Against Family & Children',
       'Assault with a Dangerous Weapon', 'Prostitution', 'Theft',
       'Damage to Property', 'Assault on a Police Officer',
       'Sex Offenses', 'Disorderly Conduct', 'Property Crimes',
       'Burglary', 'Vending Violations', 'Fraud and Financial Crimes',
       'Theft from Auto', 'Aggravated Assault', 'Homicide', 'Sex Abuse',
       'Kidnapping', 'Motor Vehicle Theft', 'Gambling', 'Arson',
       'Release Violations/Fugitive (Warr)',
       'Release Violations/Fugitive (Fug)',
       'Fraud and Financial Crimes (Frau)',
       'Fraud and Financial Crimes (Forg)',
       'Fraud and Financial Crimes (Coun)', 'Release Violations'],
      dtype=object)

In [12]:
arrests_recent["DESCRIPTION"].unique()[:50]

array(['Simple Assault', 'Failure To Appear (USAO)',
       'Driving Under Influence-1st Off',
       'Threats To Do Bodily Harm -misd',
       'Possession Of Open Container Of Alcohol - Vehicle',
       'Possession Of Bb Gun',
       'Assault W/i To Commit Robbery (aggravated Assault)',
       'Possession Of Unregistered Ammunition', 'No Permit',
       'Poss W/i To Dist A Controlled Substance', 'Speed (30 Or Over)',
       'Unlawful Entry',
       'Possession Of An Open Container Of Alcohol (poca)',
       'Contempt Of Cpo/tpo', 'Probation Violation (Warrant)',
       'Unlawful Possession Of A Firearm',
       'Carrying a Pistol Without a License (Outside Home or Place of Business) 2015',
       'Assault W/i To Kill', 'Counterfeit Tags',
       'Parole Violation (Warrant)', 'Sexual Solicitation',
       'Threat To Kidnap Or Injure A Person', 'Fugitive From Justice',
       'Attempt To Commit Robbery', 'Unlawful Possession Of Liquid Pcp',
       'Felon In Possession', 'Theft Second Degree (all Other Larceny)',
       'Poss Of A Controlled Substance -misd',
       'Unlawful Possession Of A Firearm (prior Conviction)',
       'Contempt - Misdemeanor', 'Unlawful Discharge Of A Firearm',
       'Destruction Of Property Less Than $1000',
       'Assault On A Police Officer (simple Assault)', 'Sex Abuse- Misd',
       'Theft Second Degree (theft From Building)',
       'Possession Of Drug Paraphernalia',
       'Driving Under Influence -2nd Off',
       'Assault With A Dangerous Weapon',
       'Leaving After Colliding- Property Damage',
       'Possession Of Unregistered Firearm/unlawful Possession Of A Firearm Or Destructive Device',
       'Permit Revoked-oar', 'Aggressive Panhandling',
       'Unauthorized Use Of A Vehicle', 'Shoplifting', 'Burglary One',
       'Unlawful Entry Of A Motor Vehicle',
       'Loaning Registration, Misuse Of Temporary Tags',
       'Distribution Of A Controlled Substance',
       'Vending - Vending Without A License', 'Failure To Appear (OAG)'],
      dtype=object)

In [14]:
drug_arrests = arrests_recent[
    arrests_recent["CATEGORY"].str.contains("narc", case=False, na=False)
].copy()
arrests_recent["DESCRIPTION"].unique()[:50]

array(['Simple Assault', 'Failure To Appear (USAO)',
       'Driving Under Influence-1st Off',
       'Threats To Do Bodily Harm -misd',
       'Possession Of Open Container Of Alcohol - Vehicle',
       'Possession Of Bb Gun',
       'Assault W/i To Commit Robbery (aggravated Assault)',
       'Possession Of Unregistered Ammunition', 'No Permit',
       'Poss W/i To Dist A Controlled Substance', 'Speed (30 Or Over)',
       'Unlawful Entry',
       'Possession Of An Open Container Of Alcohol (poca)',
       'Contempt Of Cpo/tpo', 'Probation Violation (Warrant)',
       'Unlawful Possession Of A Firearm',
       'Carrying a Pistol Without a License (Outside Home or Place of Business) 2015',
       'Assault W/i To Kill', 'Counterfeit Tags',
       'Parole Violation (Warrant)', 'Sexual Solicitation',
       'Threat To Kidnap Or Injure A Person', 'Fugitive From Justice',
       'Attempt To Commit Robbery', 'Unlawful Possession Of Liquid Pcp',
       'Felon In Possession', 'Theft Second Degree (all Other Larceny)',
       'Poss Of A Controlled Substance -misd',
       'Unlawful Possession Of A Firearm (prior Conviction)',
       'Contempt - Misdemeanor', 'Unlawful Discharge Of A Firearm',
       'Destruction Of Property Less Than $1000',
       'Assault On A Police Officer (simple Assault)', 'Sex Abuse- Misd',
       'Theft Second Degree (theft From Building)',
       'Possession Of Drug Paraphernalia',
       'Driving Under Influence -2nd Off',
       'Assault With A Dangerous Weapon',
       'Leaving After Colliding- Property Damage',
       'Possession Of Unregistered Firearm/unlawful Possession Of A Firearm Or Destructive Device',
       'Permit Revoked-oar', 'Aggressive Panhandling',
       'Unauthorized Use Of A Vehicle', 'Shoplifting', 'Burglary One',
       'Unlawful Entry Of A Motor Vehicle',
       'Loaning Registration, Misuse Of Temporary Tags',
       'Distribution Of A Controlled Substance',
       'Vending - Vending Without A License', 'Failure To Appear (OAG)'],
      dtype=object)

In [15]:
drug_mask = (
    arrests_recent["CATEGORY"].str.contains("narc", case=False, na=False) |
    arrests_recent["DESCRIPTION"].str.contains("narc", case=False, na=False)
)
drug_arrests = arrests_recent[drug_mask].copy()

In [16]:
arrests_recent = arrests[arrests["YEAR"].between(2019, 2024)].copy()

In [17]:
import geopandas as gpd

In [21]:
# Step 1: load tract shapes (shapefile)
tracts = gpd.read_file("../data/raw/tl_2020_11_tract.shp").to_crs("EPSG:4326")
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,11,001,004001,11001004001,40.01,Census Tract 40.01,G5020,S,271037,2414,+38.9208738,-077.0462674,"POLYGON ((-77.05018 38.92124, -77.05006 38.921..."
1,11,001,004002,11001004002,40.02,Census Tract 40.02,G5020,S,194755,0,+38.9181186,-077.0437209,"POLYGON ((-77.0463 38.91631, -77.0463 38.91637..."
2,11,001,003600,11001003600,36,Census Tract 36,G5020,S,305616,0,+38.9236744,-077.0296273,"POLYGON ((-77.03241 38.92657, -77.03217 38.926..."
3,11,001,004201,11001004201,42.01,Census Tract 42.01,G5020,S,204529,0,+38.9162076,-077.0388456,"POLYGON ((-77.04166 38.91418, -77.04166 38.914..."
4,11,001,004202,11001004202,42.02,Census Tract 42.02,G5020,S,207646,0,+38.9134023,-077.0430254,"POLYGON ((-77.04599 38.9145, -77.04574 38.9146..."

In [22]:
tracts.columns

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC',
       'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry'],
      dtype='object')

In [23]:
#1. Ensure arrests_recent is already sliced for YEAR
arrests_recent = arrests[arrests["YEAR"].between(2019, 2024)].copy()

In [24]:
#2. Filter drug arrests based on CATEGORY
drug_mask = arrests_recent["CATEGORY"].str.contains("narc", case=False, na=False)
drug_arrests = arrests_recent[drug_mask].copy()

In [25]:
#3. Convert arrests -> GeoDataFrame
drug_gdf = gpd.GeoDataFrame(
    drug_arrests,
    geometry=gpd.points_from_xy(
        drug_arrests["ARREST_LONGITUDE"],
        drug_arrests["ARREST_LATITUDE"]
    ),
    crs="EPSG:4326"
)

In [27]:
#4. Spatial join with tract polygons
drug_with_tracts = gpd.sjoin(
    drug_gdf,
    tracts[["GEOID", "geometry"]],
    how="left",
    predicate="within"
)

In [28]:
drug_counts = (
    drug_with_tracts
    .groupby(["GEOID", "YEAR"])
    .size()
    .reset_index(name="drug_arrests")
)

In [29]:
drug_with_tracts.head()

,TYPE,YEAR,DATE_,HOUR,CCN,ARREST_NUMBER,AGE,DEFENDANT_PSA,DEFENDANT_DISTRICT,RACE,...,OFFENSE_LATITUDE,OFFENSE_LONGITUDE,GIS_ID,CREATED,EDITED,GLOBALID,OBJECTID,geometry,index_right,GEOID
153581,Adult Arrest,2019,2019/01/01 05:00:00+00,6,688fb62e6ffdf5d601b2935d681a04a16f356f5dbd698c...,66167588df4e0e72d95cdbf035a0a867f4c4389611d8ac...,20,NaN,NaN,BLACK,...,38.832,-76.989,ADULT_ARRESTS_153582,NaN,2025/03/04 02:03:21+00,{DF5E8347-361B-46AF-B55B-119A598232D7},153582,POINT (-76.989 38.832),200.0,11001009700
153613,Adult Arrest,2019,2019/01/02 05:00:00+00,11,a9d70312dbd5a81f74c53886eadf75a7f28f046261bc58...,95e700f10768ab499d5171aa6c41df0d00728700f46d85...,24,NaN,NaN,BLACK,...,38.904,-77.016,ADULT_ARRESTS_153614,NaN,2025/03/04 02:03:21+00,{58279965-E130-4476-A099-06DCCAA5E40E},153614,POINT (-77.016 38.904),78.0,11001004703
153745,Adult Arrest,2019,2019/01/01 05:00:00+00,1,72acd30aeca87cbfea207e41b9227179ff02ccee3e8f6c...,7e867467e94b734583a1611e4c28dc8a267a2d0a5dee7b...,40,306,3D,BLACK,...,38.903,-76.990,ADULT_ARRESTS_153746,NaN,2025/03/04 02:03:21+00,{4B64A38C-F118-4EF7-B157-A590E091EBB9},153746,POINT (-76.99 38.903),150.0,11001008802
153770,Adult Arrest,2019,2019/01/01 05:00:00+00,2,76299142fd9ddf5d37eff692841005e3e11ee4c3f688e7...,9f02794f762136e1142137c28989ee6f263e4090138b99...,61,706,7D,BLACK,...,38.900,-76.991,ADULT_ARRESTS_153771,NaN,2025/03/04 02:03:21+00,{A92B4474-8197-4EE9-A28F-B7E2B1FEC6D7},153771,POINT (-76.991 38.9),106.0,11001008402
153775,Adult Arrest,2019,2019/01/01 05:00:00+00,3,3a19753c8b0cccdeab8dbc124bc87fd90b6d268816aab3...,6874b264d927332e19929aafcf52ebd5db159f46e37320...,40,NaN,NaN,BLACK,...,38.965,-77.026,ADULT_ARRESTS_153776,NaN,2025/03/04 02:03:21+00,{DA0E4DEC-3390-4919-B55C-DB1A28B66567},153776,POINT (-77.026 38.965),25.0,11001001901

In [30]:
drug_counts.head()

         GEOID  YEAR  drug_arrests
0  11001000102  2019             1
1  11001000102  2021             1
2  11001000201  2022             1
3  11001000202  2019             7
4  11001000202  2020            14

In [34]:
crime_violent = violent_counts.copy()

#Convert CENSUS_TRACT (e.g. 9803.0) -> string without decimals
crime_violent["tract_raw"] = (
    crime_violent["CENSUS_TRACT"]
    .astype(float)
    .astype(int)
    .astype(str)
)

In [35]:
# Pad the tract code to 6 digits (e.g. "009803)
crime_violent["tract_padded"] = crime_violent["tract_raw"].str.zfill(6)

# Build full GEOID: STATE (11) + COUNTY (001) + TRACT (xxxxxx)
crime_violent["GEOID"] = "11" + "001" + crime_violent["tract_padded"]

crime_violent.head()

   CENSUS_TRACT  year  violent_incidents tract_raw tract_padded        GEOID
0         102.0  2024                  8       102       000102  11001000102
1         201.0  2024                  1       201       000201  11001000201
2         202.0  2024                  9       202       000202  11001000202
3         300.0  2024                  6       300       000300  11001000300
4         501.0  2024                  8       501       000501  11001000501

In [36]:
# 1. Work from violent_counts
crime_violent = violent_counts.copy()
crime_violent.head()

   CENSUS_TRACT  year  violent_incidents
0         102.0  2024                  8
1         201.0  2024                  1
2         202.0  2024                  9
3         300.0  2024                  6
4         501.0  2024                  8

In [37]:
#2 Convert census tract float -> int -> str
crime_violent["tract_raw"] = (
    crime_violent["CENSUS_TRACT"]
    .astype(float)
    .astype(int)
    .astype(str)
)

# 3 Zero-pad tract codes to 6 digits
# Example: 102 -> "000102"
crime_violent["tract_padded"] = crime_violent["tract_raw"].str.zfill(6)

#4 Build full GEOID: STATE(11) + COUNTY (001) + padded tract
crime_violent["GEOID"] = "11" + "001" + crime_violent["tract_padded"]

In [38]:
crime_violent.head()

   CENSUS_TRACT  year  violent_incidents tract_raw tract_padded        GEOID
0         102.0  2024                  8       102       000102  11001000102
1         201.0  2024                  1       201       000201  11001000201
2         202.0  2024                  9       202       000202  11001000202
3         300.0  2024                  6       300       000300  11001000300
4         501.0  2024                  8       501       000501  11001000501

In [39]:
drug_counts = drug_counts.rename(columns={"YEAR": "year"})

In [40]:
crime_full = crime_violent.merge(
    drug_counts,
    on=["GEOID", "year"],
    how="outer"
).fillna(0)

crime_full["total_crime"] = (
    crime_full["violent_incidents"] +
    crime_full["drug_arrests"]
)

In [41]:
crime_full.head()

,CENSUS_TRACT,year,violent_incidents,tract_raw,tract_padded,GEOID,drug_arrests,total_crime
0,0.0,2019,0.0,0,0,11001000102,1.0,1.0
1,0.0,2021,0.0,0,0,11001000102,1.0,1.0
2,102.0,2024,8.0,102,000102,11001000102,0.0,8.0
3,0.0,2022,0.0,0,0,11001000201,1.0,1.0
4,201.0,2024,1.0,201,000201,11001000201,0.0,1.0